{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe- Nation Baller{% endblock %}

{% block content %}
    <h1> Modifier mon mot de passe </h1>
   
  <a href="{{ path('account') }}">Retourner a mon compte</a> <br>
  <hr>

  {% if notification %}
        <div  clase="alert alert-info" > {{notification}} </div>
  {% endif %}
        {{ form(form) }}
  <hr>




{% endblock %}
